.main,
#email,
#password,
#submit,
#username,
#confirm-password {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.main {
  width: 400px;
  height: 440px;
  background-color: #fff;
  margin: 100px auto auto auto;
  moz-box-shadow: 0px 3px 7px #757575;
  -webkit-box-shadow: 0px 3px 7px #757575;
  box-shadow: 0px 3px 7px #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -200px;
}
.main form {
  text-align: center;
  padding-top: 50px;
}
.main form p {
  color: #949393;
  font-size: 14px;
  margin-top: 15px;
}
.main form p a {
  color: #00b242;
}
.main form p a:hover {
  color: rgb(2, 145, 54);
}
#email,
#password,
#username,
#confirm-password {
  width: 280px;
  height: 45px;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border: solid 1px rgb(221, 220, 220);
  background-color: rgba(224, 224, 224, 0.562);
  color: #949393;
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  outline: none;
}

#submit {
  width: 303px;
  height: 50px;
  border: none;
  background-color: #00b242;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
#submit:hover {
  background-color: rgb(2, 145, 54);
}
#submit:disabled,
#submit[disabled] {
  background-color: rgba(0, 178, 65, 0.616);
  cursor: default;
}
::-webkit-input-placeholder {
  color: #949393b6;
}
::-moz-placeholder {
  color: #949393b6;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #949393b6;
}
:-moz-placeholder {
  color: #949393b6;
}
input.ng-invalid.ng-touched {
  border: solid 1px #ec8a8a !important;
  /* background-color: #f5baba !important; */
}
.form-error {
  float: left;
  margin: -10px auto 5px 50px;
  font-size: 13px;
  color: #ec8a8a;
  text-align: left;
}
.error {
  color: #ec8a8a !important;
}
.success {
  color: rgba(2, 156, 59, 0.856) !important;
}
#submit img {
  width: 45px;
  height: 25px;
}

button::-moz-focus-inner {
  border: 0;
}
